@import "reset.css";

body {
display: flex;
flex-wrap: wrap;
gap: 10px;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
background-color: gainsboro;
box-sizing: border-box;
}

h1 {
font-size: 3rem;
font-family: Oleo Script;
text-align: center;}

canvas {
width: 100%;
max-width: 700px;
height: auto;
background-color: white;
border-radius: 10px;}


.controllers {
	display: flex;
	max-width: 400px;
	flex-direction: column;
	gap: 30px;
	padding: 50px;
}

input#color {
	width: 120px;
	height: 40px;
}

.color-options {
	display: flex;
	flex-wrap: wrap;
	border: 5px solid white;
	border-radius: 20px;
	padding: 10px;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.color-row {
	display: flex;
	gap: 10px
}


.color-option {
	width: 40px;
	height: 40px;
	border: 5px solid white;
	border-radius: 20px;
	cursor: pointer;
	transition: transform ease-in-out .1s;
}

.color-option:hover {
	transform: scale(1.3)
}


.btns{
display: flex;
flex-direction: column;
gap: 15px;
max-width: 400px;
border: 5px solid white;
border-radius: 20px;
padding: 10px;}

.line-width-container {
display: flex;
justify-content: center;
padding: 20px;}

#line-width {
width: 80%;
}

.button-row {
display: flex;
flex-direction: row;
justify-content: space-between}

.button-items {
flex: 1 1 23%;
padding: 3px;
border-radius: 20px;
text-align: center;}

.texts{
display: flex;
flex-direction: column;
gap: 20px;
border: 5px solid white;
border-radius: 20px;
padding: 20px;
}

.text-controls {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 20px;
}

button, label {
all: unset;
display: inline-block;
width: 85px;
padding: 10px 0px;
text-align: center;
background-color: royalblue;
color: white;
font-family: sans-serif;
font-weight: 500;
border-radius: 10px;
transition: opacity linear .1s;
}

button:hover {
opacity: 0.7
}

input#text {
all: unset;
padding: 10px;
border-radius: 10px;
background-color: white;
font-family: sans-serif;
text-align: center;
font-weight: 800;
}

input#file {
display: none;
}


#save {
background-color: rgb(63, 126, 0)
}
